*.suo
*.user
*.userprefs
*.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb
*.mdb
*.dbmdl
*.dbproj.schemaview
*.dbproj
*.jfm
.vscode/
.history/
.idea/
.DS_Store
Thumbs.db
ehthumbs.db
appsettings*.json
!appsettings.Development.json
*.db
*.sqlite
*.sqlite3
node_modules/
package-lock.json
project.lock.json
project.fragment.lock.json